<?xml version="1.0"?>
<robot name="test">
    <link name="base_footprint">
    </link>

    <link name="base_link">
        <visual>
            <geometry>
                <box size="1.0 1.0 1.0" />
            </geometry>
            <material name="LightGrey">
                <color rgba="0.7 0.7 0.7 1.0"/>
            </material>
        </visual>
    </link>
    
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0.135" rpy="0 0 0"/>
        <axis xyz="0 0 0"/>
    </joint>

</robot>
